@page
@model GamesaWeb.Pages.IndexModel

<html>
<head>
    <title>Game</title>
</head>
<body>
    <canvas id="canvas" width="800" height="800" style="border: 1px solid black;"></canvas>
    <script src="~/gamesa.js"></script>
</body>
</html>
