@page "/{id:alpha?}/{count:int?}"
@model GamesaWeb.Pages.IndexModel

<html>
<head>
    <title>Game</title>
</head>
<body>
    <canvas id="canvas" width="@Gamesa.Shared.Config.BoardSize" height="@Gamesa.Shared.Config.BoardSize" style="border: 1px solid black;"></canvas>
    <script>
        const Delta4Point = @Gamesa.Shared.Config.Delta4Point;
        const GameId = @Json.Serialize(Model.GameId);
    </script>
    <script src="~/gamesa.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/communication.js"></script>
</body>
</html>
